{% extends "InvoiceBundle::main.html.twig" %}
{% block title %}
Nowa faktura
{% endblock %}
{% block body %}
<div class="container">

<form class="form-horizontal" method="POST">
    <div id="header">
        <div class="col-lg-6">
            <div class="form-group col-lg-12">
                <label class="col-lg-3 control-label">Faktura nr: </label>
                <div class="col-lg-9">
                    {{ form_widget(form.number, {'attr': {'class' : 'form-control'}}) }}
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group col-lg-12">
                <label class="col-lg-3 control-label">Data wystawienia:</label>
                <div class="col-lg-9">
                    {{ form_widget(form.generationDate, {'attr': {'class': 'form-control'}, 'type' : 'date'}) }}
                </div>
            </div>
            <div class="form-group col-lg-12">
                <label class="col-lg-3 control-label">Data zakończenia usługi:</label>
                <div class="col-lg-9">
                    {{ form_widget(form.completionDate, {'attr': {'class': 'form-control'}, 'type' : 'date'}) }}
                </div>
            </div>
            <div class="form-group col-lg-12">
                <label class="col-lg-3 control-label">Miejsce wystawienia</label>
                <div class="col-lg-9">
                    {{ form_widget(form.place, {'attr': {'class' : 'form-control'}}) }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12"><hr></div>
    <div id="data">

        <div class="col-lg-6" id="seller">
            <h3>Sprzedawca:</h3>
            <div class="form-group col-lg-12">
                <label class="col-lg-3 control-label">Nazwa</label>
                <div class="col-lg-9">
                    {{ form_widget(form.seller.name, {'attr': {'class' : 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group col-lg-12">
                <label class="col-lg-3 control-label">Adres</label>
                <div class="col-lg-9">
                    {{ form_widget(form.seller.address, {'attr': {'class' : 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group col-lg-12">
                <label class="col-lg-3 control-label">Miejscowość</label>
                <div class="col-lg-9">
                    {{ form_widget(form.seller.city, {'attr': {'class' : 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group col-lg-12">
                <label class="col-lg-3 control-label">Kod pocztowy</label>
                <div class="col-lg-9">
                    {{ form_widget(form.seller.zipCode, {'attr': {'class' : 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group col-lg-12">
                <label class="col-lg-3 control-label">NIP</label>
                <div class="col-lg-9">
                    {{ form_widget(form.seller.nip, {'attr': {'class' : 'form-control'}}) }}
                </div>
            </div>
        </div>

        <div class="col-lg-6" id="client">
            <h3>Nabywca:</h3>
            <div class="form-group col-lg-12">
                <label class="col-lg-3 control-label">Nazwa</label>
                <div class="col-lg-9">
                    {{ form_widget(form.client.name, {'attr': {'class' : 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group col-lg-12">
                <label class="col-lg-3 control-label">Adres</label>
                <div class="col-lg-9">
                    {{ form_widget(form.client.address, {'attr': {'class' : 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group col-lg-12">
                <label class="col-lg-3 control-label">Miejscowość</label>
                <div class="col-lg-9">
                    {{ form_widget(form.client.city, {'attr': {'class' : 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group col-lg-12">
                <label class="col-lg-3 control-label">Kod pocztowy</label>
                <div class="col-lg-9">
                    {{ form_widget(form.client.zipCode, {'attr': {'class' : 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group col-lg-12">
                <label class="col-lg-3 control-label">NIP</label>
                <div class="col-lg-9">
                    {{ form_widget(form.client.nip, {'attr': {'class' : 'form-control'}}) }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12"><hr></div>
    <div class="col-lg-12 table-responsive" id="table">
        <table id="products" class="table col-lg-12">
            <thead>
                <tr>
                    <th class="text-center">Lp.</th>
                    <th class="text-center">Nazwa towaru/usługi</th>
                    <th class="text-center">Ilość</th>
                    <th class="text-center">Cena netto</th>
                    <th class="text-center">Wartość netto</th>
                    <th class="text-center">Stawka VAT</th>
                    <th class="text-center">Kwota VAT</th>
                    <th class="text-center">Wartość brutto</th>
                </tr>
            </thead>
            <tbody>
                <tr class="product_row">
                    <td>1</td>
                    <td class="product_name">
                        {{ form_widget(form.products[0].name, {'attr': {'class' : 'form-control'}}) }}
                    </td>
                    <td class="product_quantity">
                        {{ form_widget(form.products[0].quantity, {'attr': {'class' : 'form-control'}, 'type' : 'number'}) }}
                    </td>
                    <td class="netto_price">
                        {{ form_widget(form.products[0].nettoPrice, {'attr': {'class' : 'form-control'}, 'type' : 'number'}) }}
                        </td>
                    <td class="netto_value">
                        {{ form_widget(form.products[0].nettoValue, {'attr': {'class' : 'form-control', 'readonly' : 'readonly'}, 'type' : 'number'}) }}
                    </td>
                    <td class="vat">
                        {{ form_widget(form.products[0].vat, {'attr': {'class' : 'form-control', 'readonly' : 'readonly', 'value' : '23'}, 'type' : 'number'}) }}
                    </td>
                    <td class="vat_value">
                        {{ form_widget(form.products[0].vatValue, {'attr': {'class' : 'form-control', 'readonly' : 'readonly'}, 'type' : 'number'}) }}
                    </td>
                    <td class="brutto_value">
                        {{ form_widget(form.products[0].bruttoValue, {'attr': {'class' : 'form-control', 'readonly' : 'readonly'}, 'type' : 'number'}) }}
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn" id="count_btn">Przelicz</button>
        <button class="btn" id="add_btn">Dodaj wiersz</button>
    </div>
    <div class="col-lg-12" id="sum">
        <div class="col-lg-6"></div>
        <div class="col-lg-6"><table class="table">
            <thead>
            <tr>
                <th>VAT</th>
                <th>Suma Netto</th>
                <th>Suma VAT</th>
                <th>Suma Brutto</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>23%</td>
                    <td id="netto_sum"></td>
                    <td id="vat_sum"></td>
                    <td id="brutto_sum"></td>
                </tr>
            </tbody>
        </table></div>
    </div>
    <div class="col-lg-12"><hr></div>
    <div class="col-lg-12">
        <label for="comment" class="control-label">Uwagi</label>
        {{ form_widget(form.comment, {'attr': {'class': 'form-control'}}) }}
        <textarea class="form-control col-lg-12" name="comment" placeholder="Np. informacja o zwolnieniu z VAT"></textarea>
    </div>
    <div class="col-lg-12">
        <hr>
    </div>
    <div class="col-lg-12">
        <p><input type="submit" value="Generuj" class="btn"></p>
    </div>
</form>

</div>
{% endblock %}