<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>Faktura {{ invoice.invoiceNumber }}</title>

</head>
<body>

<div class="container">
    <div id="header">
        <div class="col-xs-6">
            <div class="form-group col-xs-12"><label class="col-xs-3">Faktura nr: </label><div class="col-xs-9">{{ invoice.invoiceNumber }}</div></div>
        </div>
        <div class="col-xs-6">
            <div class="form-group col-xs-12"><label class="col-xs-6 text-right">Data wystawienia:</label><div class="col-xs-6">{{ invoice.generationDate }}</div></div>
            <div class="form-group col-xs-12"><label class="col-xs-6 text-right">Data zakończenia usługi:</label><div class="col-xs-6">{{ invoice.completionDate }}</div></div>
            <div class="form-group col-xs-12"><label class="col-xs-6 text-right">Miejsce wystawienia</label><div class="col-xs-6">{{ invoice.place }}</div></div>
        </div>
    </div>
    <div class="col-xs-12"><hr></div>
    <div id="data">

        <div class="col-xs-6" id="seller">
            <h3>Sprzedawca:</h3>
            <div class="form-group col-xs-12"><label class="col-xs-6 text-right">Nazwa</label><div class="col-xs-6">{{ invoice.seller.sellerName }}</div></div>
            <div class="form-group col-xs-12"><label class="col-xs-6 text-right">Adres</label><div class="col-xs-6">{{ invoice.seller.sellerAddress }}</div></div>
            <div class="form-group col-xs-12"><label class="col-xs-6 text-right">Miejscowość</label><div class="col-xs-6">{{ invoice.seller.sellerCity }}</div></div>
            <div class="form-group col-xs-12"><label class="col-xs-6 text-right">Kod pocztowy</label><div class="col-xs-6">{{ invoice.seller.sellerPostal }}</div></div>
            <div class="form-group col-xs-12"><label class="col-xs-6 text-right">NIP</label><div class="col-xs-6">{{ invoice.seller.sellerNIP }}</div></div>
        </div>

        <div class="col-xs-6" id="client">
            <h3>Nabywca:</h3>
            <div class="form-group col-xs-12"><label class="col-xs-6 text-right">Nazwa</label><div class="col-xs-6">{{ invoice.client.clientName }}</div></div>
            <div class="form-group col-xs-12"><label class="col-xs-6 text-right">Adres</label><div class="col-xs-6">{{ invoice.client.clientAddress }}</div></div>
            <div class="form-group col-xs-12"><label class="col-xs-6 text-right">Miejscowość</label><div class="col-xs-6">{{ invoice.client.clientCity }}</div></div>
            <div class="form-group col-xs-12"><label class="col-xs-6 text-right">Kod pocztowy</label><div class="col-xs-6">{{ invoice.client.clientPostal }}</div></div>
            <div class="form-group col-xs-12"><label class="col-xs-6 text-right">NIP</label><div class="col-xs-6">{{ invoice.client.clientNIP }}</div></div>
        </div>
    </div>
    <div class="col-xs-12"><hr></div>
    <div class="col-xs-12" id="table">
        <table id="products" class="table">
            <thead>
            <tr>
                <th>Lp.</th>
                <th>Nazwa towaru/usługi</th>
                <th>Ilość</th>
                <th>Cena netto</th>
                <th>Wartość netto</th>
                <th>Stawka VAT</th>
                <th>Kwota VAT</th>
                <th>Wartość brutto</th>
            </tr>
            </thead>
            <tbody>

            {% for product in invoice.products %}
                <tr class="product_row">
                    <td>1</td>
                    <td class="product_name">{{ product.productName }}</td>
                    <td class="product_quantity">{{ product.productQuantity }}</td>
                    <td class="netto_price">{{ product.nettoPrice }}</td>
                    <td class="netto_value">{{ product.nettoValue }}</td>
                    <td class="vat">{{ product.vat }}</td>
                    <td class="vat_value">{{ product.vatValue }}</td>
                    <td class="brutto_value">{{ product.bruttoValue }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="comment"><p class="text-center">{{ invoice.comment }}</p></div>
    <div class="col-xs-12" id="sum">
        <div class="col-xs-6"></div>
        <div class="col-xs-6"><table class="table">
                <thead>
                <tr>
                    <th>VAT</th>
                    <th>Suma Netto</th>
                    <th>Suma VAT</th>
                    <th>Suma Brutto</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>23%</td>
                    <td id="netto_sum"></td>
                    <td id="vat_sum"></td>
                    <td id="brutto_sum"></td>
                </tr>
                </tbody>
            </table></div>
    </div>
    <div class="col-xs-12"><hr></div>
    {# won't show on PDF#}
    {% if app.request.attributes.get('_route') == 'showInvoice' %}
        <div class="col-xs-12">
            <a class="btn" href="{{ path('generatePDF',{'id': invoice.id} ) }}">Generuj PDF</a>
        </div>
    {% else %}
    <footer class="footer">
        <div class="container">
        podpis
        </div>
    </footer>
    {% endif %}
</div>
</body>
</html>